<%= form_with model: @message, id: 'new_message', local: true do |f| %>
  <%= f.text_field :content, placeholder: 'メッセージを入力' %>
  <%= f.file_field :images, name: 'message[images][]', id: 'message_image', class: "messages_btn" %>
  <%= f.submit '送信', class: "messages_btn" %>
  <div id="image-list"></div>
<% end %>

<% @message.images.each do |image| %>
  <%= image_tag image, class: 'images' %>
<% end %>