<%= render "/shared/header" %>
<h3>つぶやき相談</h3>
<%= form_with model: @tweet do |f| %>
  <%= f.text_field :text %>
  <%= f.submit '送信' %>
<% end %>
<div id='tweets'>
  <% @tweets.reverse_each do |tweet| %>
    <p><%= tweet.text %></p>
  <% end %>
</div>
